/*  your css code here. If applicable */
#f1{
	background-color: rgb(255, 255, 0);
	text-align: center;
}
#f1 img{
	width:100%;
}
#f2{
	background-color: rgb(255, 255, 0);
	text-align: center;
}
#f2 img{
	width: 100%;
}
p{
	text-align: center;
}